<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Style -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/faculty.css">
    <link rel="shortcut icon" type="image/x-icon" href="../icon.ico" />
    <title>Portal</title>
  </head>
  <body>
    <div class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>!-->
          <!-- <form action=""></form> -->
          <a id="logo" class="navbar-brand" href="../html/portal.html">FilesPro</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav ml-auto">
                <!-- <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Faculty</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/html/index.html" class="dropdown-item">Logout</a>
                    </div>
                </li> -->
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%=username%>
                      <!-- <a href="/logout">Sign Out</a> -->
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/student_profile?username=<%=username%>&changep=false">Profile</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/logout">Sign Out</a>
                    </div>
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-2 pl-auto">
        </div>
        <div class="col-10">
          <div class="d-flex bd-highlight" id="ProfileBox">
            <div  class="p-2 flex-grow-1 bd-highlight">
              <div class="jumbotron">
                <h1 class="display-3">
                  Welcome
                </h1>
                <p class="lead">
                  Have a nice day!
                </p>
              </div>
            </div>
            <!-- <div class="p-2 bd-highlight">Flex item</div>
            <div class="p-2 bd-highlight">Third flex item</div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2 pl-auto">
          <div class="btn-group-vertical btn-group-lg">
            <a href="/student_displaycourses?username=<%=username%>" id="courses" class="btn sidebarr pl-1 pr-1">Courses</a><br>
          </div>
        </div>
        <div class="col-10">
          <%if(course){%>
            <% for(var i=0;i< course.length ;i++) { %>
              <div class="card-deck">
                  <div class="card">
                    <div class="card-body">
                      <a class="card-title" id="courseid" href="/student_coursepage?courseid=<%=course[i].course_id %>&username=<%=username%>&faculty_id=<%=course[i].faculty_id%>"><%=course[i].course_id %> <%=course[i].firstName %>  <%=course[i].faculty_id%></a>
                    </div>
                  </div>
                </div>
                <% } %>
          <%}%>  

          
        </div>
    </div>
    
    <script src="../js/jquery.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>